<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCNMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SCNMonitor.Properties.Settings>
            <setting name="CheckInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WarningThreshold" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="AutodetectNetwork" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyOnNetworkChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayIconColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TrayIconWarningColor" serializeAs="String">
                <value>Red</value>
            </setting>
        </SCNMonitor.Properties.Settings>
    </userSettings>
</configuration>